<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text="${titulo}"></title>
</head>

<body>
	<form th:action="@{/motos/modificar}" method="POST">
		<h1 th:text="${titulo}"></h1>
		<div>
			<label for="idmoto">ID Moto</label>
			<div>
				<input type="number" name="idmoto" id="idmoto" th:value="${moto.idmoto}">
			</div>
			<div th:if="${error != null && error.containsKey('idmoto')}" th:number="${error.idmoto}"></div>
		</div>
		<div>
			<label for="monto">Monto</label>
			<div>
				<input type="number" name="monto" id="monto" th:value="${moto.monto}">
			</div>
			<div th:if="${error != null && error.containsKey('monto')}" th:number="${error.monto}"></div>
		</div>
		<div>
			<div>
				<input type="submit" value="Agregar">
			</div>
		</div>
	</form>
</body>
</html>