<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text="${titulo}"></title>
</head>

<body>
	<h1 th:text="${mensaje}"></h1>

	<div th:if="${proveedores.isEmpty()}">No hay Proveedores en la lista!</div>
	<table th:if="${not proveedores.isEmpty()}">
		<thead>
			<tr>
				<th th:text="${idproveedor}"></th>
				<th th:text="${nombre}"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="prov: ${proveedores}">
				<td th:text="${prov.idproveedor}"></td>
				<td th:text="${prov.nombre}"></td>
			</tr>
		</tbody>
	</table>
</body>

</html>