<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:text="${titulo}"></title>
</head>

<body>
	<h3 th:text="${titulo}"></h3>
	<table>
		<thead>
			<tr>
				<th th:text="${idproveedor}"></th>
				<th th:text="${nombre}"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="proveedor: ${proveedor}">
				<td th:text="${proveedor.idproveedor}"></td>
				<td th:text="${proveedor.nombre}"></td>
			</tr>
		</tbody>
	</table>
</body>

</html>